* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background-color: #103a3a;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}